*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: white;
}
.nav-home{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
    background-color: transparent;
}
.nav-home h1{
    color: #E7B10A;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 40px;
}
.nav-home h1 span{
    color: #000000;
}
.nav-home .menu-home{
    display: flex;
}
.nav-home .menu-home a{
    color: black;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 20px;
    margin: 4px 3px;
    transition: all 0.4s ease;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.nav-home .menu-home a:hover{
    font-weight: bolder;
    background-color: #E7B10A;
    border-radius: 60px;
}
.nav-home .btn-popup1{
    width: 120px;
    height: 40px;
    background: #E7B10A;
    border: 3px solid #E7B10A;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-right: 50px;
}
.home-image{
    background: url("new.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.text-over-page{
    position: absolute;
    top: 35%;
    left: 23%;
    padding: 10px 10px;
}
.text-over-page:hover{
    transform: scale(0.94);
    animation: scale 6s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
.text-over-page p{
    color: black;
    font-size: 3.2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
.text-over-page p span{
    font-size: 0.9em;
    text-align: center;
    font-family: 'babylonica',cursive;
}
.top-pickup{
    padding: 30px 50px;
    margin-top: 10px;
}
.top-pickup h1{
    color: black;
    font-family: 'Quicksand', sans-serif;
    background-color: #E7B10A;
    border-radius: 60px;
    width: 15%;
    text-align: center;
}
.imgbox-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: absolute;
    left: -1.5%;
}
.imgbox-content .content-home{
    width: 20%;
    margin: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
    transition: 0.5s ease;
    background: #ffffff;
}
.imgbox-content .content-home:hover{
    box-shadow: 9px 9px 35px rgba(0,0,0,0.2);
    transform: translate(0px,-8px);
}
.content-home img{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.box-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}
.box-card .details-home h3{
    color: #434242;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
.text-home{
    width: 1000px;
    margin: auto;
    height: 600px;
    padding: 64px 80px;
    position: relative;
    margin-top: 200px;

}
.text-home .text-box{
    width: 40%;
    height: 35%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: -8%;
    left: -7%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.text-home .text-box h1{
    text-align: center;
    color: #E7B10A;
    letter-spacing: 1px;
}
.text-home .text-box p{
    color: #434242;
    font-size: 14px;
    text-align: center;
}
.text-home .text-box-1{
    width: 36%;
    height: 35%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: -5%;
    right: -7%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.text-home .text-box-1 h1{
    text-align: center;
    color: #E7B10A;
    letter-spacing: 1px;
}
.text-home .text-box-1 p{
    color: #434242;
    font-size: 14px;
    text-align: center;
}
.text-home .text-box-2{
    width: 40%;
    height: 30%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    bottom: -5%;
    left: 0%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.text-home .text-box-2 h1{
    text-align: center;
    color: #E7B10A;
    letter-spacing: 1px;
}
.text-home .text-box-2 p{
    color: #434242;
    font-size: 14px;
    text-align: center;
}
.text-home .text-box-3{
    width: 30%;
    height: 30%;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}
.text-home .text-box-3 h1{
    text-align: center;
    color: #E7B10A;
    letter-spacing: 1px;
}
.text-home .text-box-3 p{
    color: #434242;
    font-size: 14px;
    text-align: center;
}
.text-home img{
    margin-top: 60px;
    margin-left: 60px;
    width: 80%;
    height: 80%;
}
.home-decor{
    width: 100%;
    padding: 30px 50px;
    margin-top: 100px;
}
.home-decor h1{
    color: black;
    font-family: 'Quicksand', sans-serif;
    background-color: #E7B10A;
    border-radius: 60px;
    width: 90%;
    text-align: center;
    margin-left: 50px;
}
.row{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    margin-left: 38px;
}
.home-acc{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.home-acc .home-acc-img{
    overflow: hidden;
}
.home-acc .home-acc-img img{
    transition: all 0.3s;
    display: flex;
    width: 500px;
    height: 500px;
}
.home-acc:hover .home-acc-img img{
    transform: scale(1.2);
}
.home-acc .home-acc-text{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.home-acc .home-acc-text .inner-name{
    position: absolute;
    z-index: 1;
    padding: 15px;
}
.home-acc .home-acc-text:before,
.home-acc .home-acc-text:after{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.home-acc .home-acc-text:before{
    border-top: 3px solid white;
    border-right: 3px solid white;
    left: -100%;
    top: 0;
}
.home-acc .home-acc-text:after{
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    left: 100%;
    bottom: 0;
}
.home-acc:hover .home-acc-text{
    opacity: 1;
}
.home-acc:hover .home-acc-text:after,
.home-acc:hover .home-acc-text:before{
    animation-delay: 0.2s;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.home-acc:hover .home-acc-text:after{
    animation-name: left-up;
}
.home-acc:hover .home-acc-text:before{
    animation-name: right-down;
}
.home-acc .home-acc-text h2{
    font-size: 40px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home-acc .home-acc-text .home-btn{
    text-decoration: none;
    color: black;
    background: white;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
.seemore h1{
    color: #E7B10A;
    text-align: center;
}
.seemore h1 ion-icon{
    margin-left: 5px;
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 5px;
}
.seemore h1:hover{
    color: #FFD966;
}
.company{
    width: auto;
    height: 100px;
    margin-top: 100px;;
    position: relative;
}
.company .company-name{
    display: flex;
    width: cal(200px*4);
    justify-content: space-between;
    margin-left: 5px;
}
.company .company-name .comp img{
    height: 100px;
    width: 95%;
    margin-right: 20px;
}
.visit{
    display: flex;
    justify-content: center;
    align-items:center;
}
.visit a{
    text-decoration: none;
    color: white;
    background: red;
    width: 15%;
    height: 38px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    font-size: 2em;
    margin-top: 40px;
    font-weight: 600;
}
.visit a:hover{
    background-color: #820000;
}
.home-footer{
    margin-top: 150px;
    background: black;
    width: 1285px;
    height: 550px;
}
.home-con{
    max-width: 1170px;
    margin: auto;
    padding: 70px 0;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.home-footer-col{
    width: 33%;
    padding: 0 28px;
}
.home-footer-col h4{
    font-size: 20px;
    color: #E7B10A;
    font-family: 'poppins',sans-serif;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.home-footer-col h4:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    box-sizing: border-box;
    width: 50px;
}
.home-footer-col ul li:not(:last-child){
    margin-bottom: 20px;
}
.home-footer-col ul li a{
    font-size: 15px;
    color: #E7B10A;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: #bbbb;
    font-family: 'poppins', sans-serif;
    transition: All 0.3s ease;
}
.home-footer-col ul li a:hover{
    color: #E7B10A;
    padding-bottom: 10px;
}
.social-media{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 16px;
}
.social-media a i{
    margin-right: 20px;
    color: #E7B10A;
}
.social-media a i:hover{
    color: white;
}
.border{
    border-bottom: 1px dotted whitesmoke;
}
.created-by{
    text-align: center;
    color: white;
    font-family: 'poppins',sans-serif;
    margin-top: 45px;
}
.created-by span{
    color: bisque;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
}